/*-------------------------------------------------
					Grid
-------------------------------------------------*/
.row{
	@include box-sizing(border-box);
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table;
}

.row:after {
    clear: both;
}
[class^='col-'],[class*=' col-']{
	@include box-sizing(border-box);
	padding: 0 10px;
	width: 100%;
	float: left;
}
@media (min-width: 490px){
	.col-6{
		width: 50%;
	}
}